*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-black: #000;
    --bool-white: #fff;
    --bool-title: #ff9614;
    --bool-body: #f6f5f3;
    --bool-subtitle: #4e3969;
    --bool-footer: #7c69a4;
    --bool-socials: #009eff;

}

/*#debug region*/

.debug *{
    border: 1px dashed;
}

/*#common region*/

body{
    background-color: var(--bool-body);
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

main, footer{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* #Utilities region*/
.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.col-6{
    width: calc(100% / 12 * 6);
}

.container, .container-sm{
    margin: auto;
}

.container{
    width: 90%;
}

.container-sm{
    width: 80%;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.txt-shadow{
    text-shadow: 1px 1px 2px var(--bool-black);
}

.txt-light{
    color: lightgrey;
    margin-bottom: 0.5rem;
}

.my-2{
    margin: 1rem 0;
}

.py-4{
    padding: 2rem;
}

.bg-white{
    background-color: var(--bool-white);
}

/* #header region*/

header{
    background-color: var(--bool-white);

    h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    color: var(--bool-title);
    }
}

/* #main region*/
#jumbotron{
    h2{
        color: var(--bool-subtitle);
        font-weight: 800;
    }

    i{
        color: var(--bool-title);
    }

    ul{
        line-height: 2rem;
    }
}

#socials{
    li{
        padding: 0.5rem .75rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px lightgray;
    }
}

#presentation{
    h2{
        border-bottom: 5px solid var(--bool-title);
    }

    img{
        width: 80%;
    }
}

/* #footer region*/

 