*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-black: #000;
    --bool-white: #fff;
    --bool-title: #ff9614;
    --bool-body: #f6f5f3;
    --bool-subtitle: #4e3969;
    --bool-footer: #7c69a4;
    --bool-socials: #009eff;

}

/*#debug region*/

.debug *{
    border: 1px dashed;
}

/*#common region*/

body{
    background-color: var(--bool-body);
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

main, footer{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* #Utilities region*/
.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.col-6{
    width: calc(100% / 12 * 6);
}

.container, .container-sm{
    margin: auto;
}

.container{
    width: 90%;
    max-width: 767px;
}

.container-sm{
    width: 70%;
    max-width: 550px;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.txt-shadow{
    text-shadow: 1px 1px 2px var(--bool-black);
}

.txt-light{
    color: lightgrey;
    margin-bottom: 0.5rem;
}

.txt-white{
    color: var(--bool-white);
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    overflow: hidden;
}

.my-2{
    margin: 1rem 0;
}

.p-text{
    padding: 2rem 0;
}

.py-4{
    padding: 2rem;
}

.bg-white{
    background-color: var(--bool-white);
}

.wrap{
    flex-wrap: wrap;
}

.p-footer{
    padding: 2rem 0;
}

.col{
    width: 25%;
    overflow: hidden;
}

/* #header region*/

header{
    background-color: var(--bool-white);

    h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    color: var(--bool-title);
    }
}

/* #main region*/
#ricep{
    h2{
        color: var(--bool-subtitle);
        font-weight: 800;
    }

    i{
        color: var(--bool-title);
    }

    ul{
        line-height: 2rem;
    }
}

#socials{
    li{
        padding: 0.5rem .75rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px lightgray;
    }

    .fb{
        color: #1a77f3;
    }

    .tw{
        color: #009eff;
    }

    .ig{
        color: #e591a6;
    }

    .pt{
        color: #e62629;
    }

    .yt{
        color: #e62222;
    }
}

#presentation{
    h2{
        font-size: 2rem;
    }

    h2::after{
        content: "";
        display: block;
        width: 5.5rem;
        height: 3px;
        background-color: var(--bool-title);
        margin-top: 1rem;
    }

    img{
        width: 60%;
        margin: 1rem auto;
        display: block;
    }
}

.d-none{
    display: none;
}

.floating p{
    margin: 1rem auto;
}

/* #footer region*/
footer{
    background-color: var(--bool-footer);
    
}

.center{
    justify-self: center;
}

@media screen and (min-width:768px) {
    
    .txt-shadows{
        text-align: left;
        font-size: 3rem;
    }

    .mains{
        padding: 2rem;
    }

    .m-lefts{
        margin-left: 1rem;
    }

    .container-md{
        max-width: 920px;
    }

    .container-sm-md{
        max-width: 700px;
    }

    .d-block{
        display: inline-block;
    }

    .d-nones{
        display: none;
    }

    .wraps{
        flex-wrap: wrap;
    }

    .nowraps{
        flex-wrap: nowrap;
    }

    .col-4-md{
        width: calc(100% / 12 * 4);
        font-size: 0.8rem;
    }

    .d-flex-md{
        display: flex;
    }

    .p-socials{
        padding: 0.5rem 2.5rem;
    }

    .floating img{
        float: left;
        padding-right: 1rem;
    }

    .col-12-md{
        width: 100%;
    }

    .js-start{
        justify-content: flex-start;
    }

    .txt-white-md{
        font-size: 1rem;
    }   
    
    .txt-white-sm-md{
        font-size: 0.8rem;
    } 

}

@media screen and (min-width:992px) {
    .container-lg{
        width: 100%;
        max-width: 1100px;
    }

    .mainss{
        padding: 3rem;
    }

    .d-flex-lg{
        display: flex;
    }

    .txt-recipe{
        font-size: 2.5rem;
    }

    .col-4-lg{
        width: calc(100% / 12 * 4);
    }

    .col-8-lg{
        width: calc(100% / 12 * 8);
    }

    .ai-lg{
        align-items: center;
    }

    .col-12-lg{
        width: 100%;
    }

    .d-block-lg{
        display: block;
        font-size: 0.75rem;
    }

    .p-socials-lg{
        padding: 0.25rem 0.75rem;
    }

    .space-between-lg{
        justify-content: space-between;
    }

    .d-block-lg{
        display: inline-block;
    }

    .col-lg{
        gap: 10px;
    }

    .f-start{
        justify-content: flex-start;
    }
}
 